@inject NavigationManager NavigationManager

@if (Agent != null)
{
    <div class="container">
        <div class="card m-3 shadow rounded" @onclick="@(() => NavigationManager.NavigateTo($"/detailsagent/{Agent.Id}"))">
            <img src=" @(string.IsNullOrEmpty(Agent.ImagePath) ?
                (string.IsNullOrEmpty(Agent.Agency.ImagePath) ?
                "images/ghost1.png" : Agent.Agency.ImagePath) : Agent.ImagePath)"
                    alt="Profilbild"
                    class=" m-1" />
            <div class="card-body">
                <div class="card-title">
                    <div class="card-title-left">
                        <h5>@Agent.FirstName @Agent.LastName</h5>
                        <p>"@Agent.Nickname"</p>
                        <small class="text-muted">@Residences?.Count(r => r.Agent.Id == Agent.Id) objekt till salu</small>
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <div class="left-footer">
                    <small class="text-muted">@Agent.Agency.Name</small>
                </div>
                <div class="right-footer">
                    <img src="@(string.IsNullOrEmpty(Agent.Agency.ImagePath) ?
                                    "gif/floatingghost.png" : Agent.Agency.ImagePath)"
                            alt="Mäklarfirma logga"
                            class="card-footer-image" />
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>Mäklarna kommer vid midnatt</p>
}

@code {
    [Parameter]
    public Agent? Agent { get; set; }
    [Parameter]
    public List<Residence>? Residences { get; set; }
}
<style>
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: normal;
    }

    .card {
        width: 18rem;
        height: 22rem;
        /*  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6); */
        border: 1px solid black;
        transition: 0.3s ease;
        cursor: pointer;
        overflow: hidden;
    }

        .card:hover {
            transform: translateY(-15px);
        }

    .card-body {
        border-top: 1px solid black;
        padding: 0.5rem;
        height: 35%;
        overflow: auto;
    }

    .card-footer {
        background-color: rgba(200,200,200,0.7);
        padding: 0.5rem;
        display: flex;
        align-items: center;
        height: 15%;
    }

    .card-footer-image {
        max-height: 2rem;
        max-width: 4rem;
        display: inline;
    }

    .left-footer {
        padding: 0px;
        flex: 1;
    }

    .right-footer {
        padding: 0px;
        max-width: 4rem;
    }

    .card-title {
        padding: 0px;
        margin: 0px;
        display: flex;
    }

    .card:hover {
        transform: translateY(-15px);
    }

    .card img {
        height: 45%;
        object-fit: contain;
    }

</style>