@page "/agency"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Text.Json
@inject IAPIService apiService
@inject NavigationManager NavigationManager

@* Author: Emil Waara*@

<h3>Mäklarfirmor</h3>
<button class="btn btn-primary" @onclick="GoToCreateAgencyPage">Lägg till ny mäklarfirma</button>
 
@if (apiService.Agencies != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Description</th>
                <th>Adress</th>
                <th>Telefonnummer</th>
                <th>Email</th>
                <th>Webbsida</th>
                <th>Logo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agency in apiService.Agencies)
            {
                <tr class="row-hover" @onclick="() => GoToDetailsAgencyPage(agency.Id)">
                    <td>@agency.Name</td>
                    <td>@agency.Description</td>
                    <td>@agency.Address</td>
                    <td>@agency.PhoneNumber</td>
                    <td>@agency.Email</td>
                    <td>@agency.Website</td>
                    <td><img src="@agency.ImagePath" alt="Profilbild" style="max-width: 6rem; border-radius: 10%;" /></td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="a">Edit</a>
                        <a class="btn btn-secondary btn-sm" href="b">Details</a>
                        <a class="btn btn-danger btn-sm" href="c">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Har inga uppgifter på några mäklarfirmor.</p>
}


@code {
    protected override async Task OnInitializedAsync()
    {
        apiService.Agencies = await apiService.GetAllFromApiAsync<Agency>();
    }

    private void GoToDetailsAgencyPage(int id)
    {       
        //NavigationManager.NavigateTo($"/residencedetails/{id.ToString()}");
    }

    private void GoToCreateAgencyPage()
    {
        //NavigationManager.NavigateTo("/createresidence");
    }


}

