@inject NavigationManager NavigationManager
@inject IAPIService apiService

@* Author: Marcus Karlsson*@

@page "/residencedetails/{id}"
<h3>Detaljer kring bostaden</h3>

@if (residence != null)
{
    <h3>@residence.StreetName</h3>
    
    <CascadingValue Value="@residence.ImagePaths">
        <ImagesDisplayComponent></ImagesDisplayComponent>
    </CascadingValue>

    <table class="table ">
        <thead>
            <tr>
                <th>Startpris</th>
                <th>Address</th>
                <th>Postnummer</th>
                <th>Stad</th>
                <th>Kategori</th>
                <th>Kommun</th>
                <th>Län</th>
                <th>Ansvarig Mäklare</th>
                <th>Antal Rum</th>
                <th>Byggnadsår</th>
                <th>Boarea</th>
                <th>Biarea</th>
                <th>Tomtarea</th>
                <th>Månadskostnad</th>
                <th>Driftkostnad</th>
                <th>Beskrivning</th>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@residence.ListingPrice</td>
                <td>@residence.StreetName</td>
                <td>@residence.ZipCode</td>
                <td>@residence.City</td>
                <td>@residence.Category.Name</td>
                <td>@residence.Municipality.Name</td>
                <td>@residence.Municipality.County.Name</td>
                <td>@residence.Agent.FirstName @residence.Agent.LastName</td>
                <td>@residence.Rooms</td>
                <td>@residence.ConstructionYear</td>
                <td>@residence.LivingArea</td>
                <td>@residence.BiArea</td>
                <td>@residence.PlotArea</td>
                <td>@residence.MonthlyFee</td>
                <td>@residence.OperationCost</td>
                <td>@residence.Description</td>
                <td><button class="btn btn-primary" @onclick="()=>GoToEditResidence(residence.Id)">Redigera</button></td>
                <td><button class="btn btn-danger" @onclick="()=>GoToDeleteResidence(residence.Id)">Ta bort</button></td>
            </tr>
        </tbody>
    </table>
}
else
{
    <p>Bostaden kunde inte hittas.</p>
}

@code {

    [Parameter]
    public string? Id { get; set; }
    private Residence residence = new();

    private void GoToDeleteResidence(int id)
    {
        NavigationManager.NavigateTo($"/deleteresidence/{id.ToString()}");
    }

    private void GoToEditResidence(int id)
    {
        NavigationManager.NavigateTo($"/editresidence/{id.ToString()}");
    }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Id))
        {
            residence = await apiService.GetFromApiAsync<Residence>("api/residence/" + Id);
        }
    }
}
