@inject IAPIService apiService
@inject NavigationManager NavigationManager
@* Author: Emil Waara, Marcus Karlsson *@


@if (Residence != null)
{
    <div class="containerres" @onclick="() => GoToDetailsResidencePage(Residence.Id)">
        <div class="left">
            @if (Residence.ImagePaths.Count > 0)
            {
                <img src="@Residence.ImagePaths[0]" alt="Bild" class="residenceImage" />
            }
            else
            {
                <img src="/images/ghost2.png" alt="Bild" class="residenceImage" />
            }
        </div>
        <div class="right">
            <div class="top">
                <div class="top-left">
                    <h3>@Residence.StreetName</h3>                   
                </div>
                <div class="top-right">
                    @if (Residence.Agent.Agency.ImagePath != null)
                    {
                        <img src="@Residence.Agent.Agency.ImagePath" alt="Bild" class="residenceAgencypic" />
                    }
                    else
                    {
                        <img src="/images/ghost2.png" alt="Bild" class="residenceAgencypic" />
                    }                   

                    @if (Residence.Agent.ImagePath != null)
                    {
                        <img src="@Residence.Agent.ImagePath" alt="Bild" class="agentPic" />
                    }
                    else
                    {
                        <img src="/images/ghost2.png" alt="Bild" class="agentPic" />
                    }
                </div>
            </div>
            <div class="bottom">
                <p>@Residence.City, @Residence.Municipality.Name Kommun</p>
                <p>@Residence.ListingPrice SEK</p>
            </div>
        </div>
    </div>
}
else
{
    <p>Inga bostäder matchade sökningen</p>
}

@code {
    [Parameter]
    public Residence Residence { get; set; }

    private void GoToDetailsResidencePage(int id)
    {
        NavigationManager.NavigateTo($"/residencedetails/{id.ToString()}");
    }
}