@inherits LayoutComponentBase
@inject INavigationStateService NavigationStateService
@inject IAPIService apiService
@inject IAuthStateService AuthStateService
<script src="https://kit.fontawesome.com/27b0f27f86.js" crossorigin="anonymous"></script>

<div class="main">
    <div class="NavMenu">
        <div class="NavLogo">
            <a @onclick="@(e => NavigateToPage("/"))">
                <img src="/images/ghost1.png" alt="Logo">
            </a>
        </div>
        <div class="NavLinks">        
            <a class="@((NavigationStateService.GetCurrentUri() == "/filterresidences") ? "active" : "")" @onclick="@(e => NavigateToPage("/filterresidences"))">Sök Bostad</a>

            @if(AuthStateService.IsLoggedIn())
            {
                <a class="@((NavigationStateService.GetCurrentUri() == "/createresidence") ? "active" : "")" @onclick="@(e => NavigateToPage("/createresidence"))">Sälj Bostad</a>
            }
            
            <a class="@((NavigationStateService.GetCurrentUri() == "/agencylisting") ? "active" : "")" @onclick="@(e => NavigateToPage("/agencylisting"))">Mäklarfirmor</a>
            <a class="@((NavigationStateService.GetCurrentUri() == "/agent") ? "active" : "")" @onclick="@(e => NavigateToPage("/agent"))">Mäklare</a>
        </div>
        <div class="UserArea">
            @if (!AuthStateService.IsLoggedIn())
            {
                <a @onclick="@(e => NavigateToPage("/login"))">Logga In</a>
            }
            else
            {
                <a class="@((NavigationStateService.GetCurrentUri() == $"/agencydetails/{AuthStateService?.currentUser?.AgencyId}") ? "active" : "")" @onclick="@(e => NavigateToPage($"/agencydetails/{AuthStateService?.currentUser?.AgencyId}"))">Min Mäklarbyrå</a>
                <a class="@((NavigationStateService.GetCurrentUri() == $"/detailsagent/{AuthStateService?.currentUser?.AgentId}") ? "active" : "")" @onclick="@(e => NavigateToPage($"/detailsagent/{AuthStateService?.currentUser?.AgentId}"))">Min Profil</a>
                <a @onclick="@Logout">Logga ut</a>
            }

        </div>
    </div>
    <div class="mainContent">
        @Body
    </div>
    <div class="Footer">
        <p>Sida skapad av grupp 7 Golf { Marcus Karlsson, Emil Waara, Fredrik Blixt }</p>
    </div>
</div>

@code {
    private Agent currentAgent = new();

    private void Logout()
    {
        AuthStateService.Logout();
        NavigationStateService.NavigateTo(NavigationStateService.GetCurrentUri());
    }

    private void NavigateToPage(string page)
    {
        NavigationStateService.NavigateTo(page);
    }
}