@inherits LayoutComponentBase
@inject INavigationStateService NavigationStateService
@inject IAPIService apiService
<script src="https://kit.fontawesome.com/27b0f27f86.js" crossorigin="anonymous"></script>

<div class="main">
    <div class="NavMenu">
        <div class="NavLogo">
            <img src="/images/ghost1.png" alt="Logo">
        </div>
        <div class="NavLinks">
            <a @onclick="@(e => NavigateToPage("/agencylisting"))">CRUD Mäklarfirmor</a>
            <a @onclick="@(e => NavigateToPage("/agent"))">Sök Mäklare</a>
            <a @onclick="@(e => NavigateToPage("/residence"))">Bostäder</a>
            <a @onclick="@(e => NavigateToPage("/filterresidences"))">Filtrera Bostäder</a>
            <a @onclick="@(e => NavigateToPage("/register"))">Skapa ny mäklare</a>
            <a @onclick="@(e =>
         NavigateToPage("/edit/7b8163ca-2b80-4766-9e9b-c9548a2f8ddb"))">
                Editera en mäklare
            </a>
        </div>
        <div class="UserArea">
            @* @if (autenticated)
            {
            <a @onclick="@(e => NavigateToPage("/login"))">Min Profil </a> |
            <a @onclick="@(e => NavigateToPage("/register"))">Logga ut</a>
            }
            else
            { *@
            @if (apiService.currentUser == null)
            {
                <a @onclick="@(e => NavigateToPage("/login"))">Logga In</a>
                <a @onclick="@(e => NavigateToPage("/register"))">Registera</a>
            }
            else
            {
                <a @onclick="@(e => NavigateToPage("/login"))">Min profil</a>
                <a @onclick="@Logout">Logga ut</a>
            }

        </div>
    </div>
    <div class="mainContent">
        @Body
    </div>
    <div class="Footer">
        <p>Sida skapad av grupp 7 Golf { Marcus Karlsson, Emil Waara, Fredrik Blixt }</p>
    </div>
</div>

@code {
    private void Logout()
    {
        apiService.Logout();
        //NavigationStateService.NavigateTo("/login");
    }

    private void NavigateToPage(string page)
    {
        NavigationStateService.NavigateTo(page);
    }
}