@inject INavigationStateService NavigationStateService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HemSokClient</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
 *@

        <div class="nav-item px-3">
            <a href="/" class="nav-link" @onclick="@(e => NavigateToPage("/"))">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </a>
        </div>

        <div class="nav-item px-3">
            <a href="/agencylisting" class="nav-link" @onclick="@(e => NavigateToPage("/agencylisting"))">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> CRUD Mäklarfirmor
            </a>
        </div>

        <div class="nav-item px-3">
            <a href="/agent" class="nav-link" @onclick="@(e => NavigateToPage("/agent"))">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Sök Mäklare
            </a>
        </div>

        <div class="nav-item px-3">
            <a href="/residence" class="nav-link" @onclick="@(e => NavigateToPage("/residence"))">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Bostäder
            </a>
        </div>

        <div class="nav-item px-3">
            <a href="/filterresidences" class="nav-link" @onclick="@(e => NavigateToPage("/filterresidences"))">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Filtrera Bostäder
            </a>
        </div>

        <div class="nav-item px-3">
            <a href="/register" class="nav-link" @onclick="@(e => NavigateToPage("/register"))">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Skapa ny mäklare
            </a>
        </div>

        <div class="nav-item px-3">
            <a href="/login" class="nav-link" @onclick="@(e => NavigateToPage("/login"))">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Logga In
            </a>
        </div>

        <div class="nav-item px-3">
            <button @onclick="@(e => NavigateToPage("/edit/7b8163ca-2b80-4766-9e9b-c9548a2f8ddb"))">
                Editera Mäklare
            </button>
        </div>



        @*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="residence">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bostäder
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="filterresidences">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Filtrera Bostäder
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agent">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sök mäklare
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agencylisting">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> CRUD Mäklarfirmor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Registrera Mäklare
            </NavLink>
        </div> *@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void NavigateToPage(string page)
    {
        NavigationStateService.NavigateTo(page);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
